/* Slider */
.slick-slider{
	height: 100vh;
	position: relative;
	display: block;
	box-sizing: border-box;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	-webkit-touch-callout: none;
	-khtml-user-select: none;
	-ms-touch-action: pan-y;
	touch-action: pan-y;
	-webkit-tap-highlight-color: transparent;
}


.slick-list{
	position: relative;
	display: block;
	overflow: hidden;
	margin: 0;
	padding: 0;
}

.slick-list:focus{
	outline: none;
}

.slick-list.dragging {
	cursor: pointer;
	cursor: hand;
}

.slick-slider .slick-track,
.slick-slider .slick-list{
	-webkit-transform: translate3d(0, 0, 0);
	-moz-transform: translate3d(0, 0, 0);
	-ms-transform: translate3d(0, 0, 0);
	-o-transform: translate3d(0, 0, 0);
	transform: translate3d(0, 0, 0);
}

.slick-track{
	position: relative;
	top: 0;
	left: 0;
	display: block;
}

.slick-track:before,
.slick-track:after{
	display: table;
	content: '';
}

.slick-track:after{
	clear: both;
}

.slick-loading .slick-track{
	visibility: hidden;
}

.slick-slide{
	display: none;
	float: left;
	height: 100vh;
	min-height: 1px;
}

[dir='rtl'] .slick-slide{
	float: right;
}

.slick-slide img {
	display: block;
}

.slick-slide.slick-loading img{
	display: none;
}

.slick-slide.dragging img{
	pointer-events: none;
}
.slick-initialized .slick-slide{
	display: block;
}

.slick-loading .slick-slide{
	visibility: hidden;
}

.slick-vertical .slick-slide{
	display: block;
	height: auto;
	border: 1px solid transparent;
}

.slick-arrow.slick-hidden {
	display: none;
}


/* Slider More Series/ Episodes */
.more-videos {
	height: auto; }
.more-videos .slick-slide {
	height: auto;
	padding: 0 15px;}

button.slick-arrow {
	-moz-border-radius: 100px;
	-webkit-border-radius: 100px;
	border-radius: 100px;
	color: transparent;
	height: 2.44em;
	width: 2.44em;
	background: #000000; }
button.slick-arrow:hover{
	background: #0000FF;}
button.slick-next, button.slick-prev {
	position: absolute; }
button.slick-prev.slick-arrow:after {
	content: "<";
	color: #FFFFFF;
	top: 0.7em;
	position: absolute;
	margin: 0 auto;
	left: 0;
	right: 0; }
button.slick-next.slick-arrow:after {
	content: ">";
	color: #FFFFFF;
	top: 0.7em;
	position: absolute;
	margin: 0 auto;
	left: 0;
	right: 0; }

.more-videos button.slick-prev{
	left: -90px;
	z-index: 3;
	top: 25%; }
.more-videos button.slick-next{
	right: -90px;
	top: 25%; }
.manifiesto-submenu button.slick-prev{
	left: 6%;
	top: 30px;
	z-index: 2; }
.manifiesto-submenu button.slick-next{
	right: 6%;
	top: 30px;
	z-index: 2;}

.gallery-slider button.slick-prev{
	left: 5em;
	top: 50%;
	z-index: 2; }
.gallery-slider button.slick-next{
	right: 5em;
	top: 50%;
	z-index: 2;}

@media (max-width: 1270px) {
	.more-videos button.slick-next{
		right: -10px; }
	.more-videos button.slick-prev{
		left: -10px; }
}

@media (max-width: 800px) {
	.gallery-slider button.slick-next,
	.gallery-slider button.slick-prev{
		top: 37%; }
	.gallery-slider button.slick-prev{
		left: 1em;}
	.gallery-slider button.slick-next{
		right: 1em;}
}

@media (max-width: 600px) {
	.more-videos button.slick-next{
		right: 0; }
	.more-videos button.slick-prev{
		left: 0; }
}
