/* BUTTONS */

.burger
	width: 16px
	float: left
	margin-top: 3px
	margin-right: 1.1em
	> div
		width: 100%
		background: $c-white
		height: 3px
		margin-bottom: 3px
	> div:last-child
		margin-bottom: 0
	@media (max-width: $tablet_b)
		display: block


// cta's styles
.blue-cta
	color: $c-white
	display: inline-block
	position: relative
	background-color: $c-blue
	padding: 0.7em 1.7em
	padding-top: 1em
	font-family: "avenirB", sans-serif
	font-size: 16px
	text-decoration: underline
	+sharp-shadow
	&:after
		content: ''
		position: absolute
		border: 1px solid $c-white
		height: 80%
		top: 5px
		left: 4px
		width: 93%
	&:active
		box-shadow: 1px 1px 0px 0px black
		top: 4px
		left: 4px

.blue-link, a.blue-link
	color: $c-blue
	display: block
	font-size: 14px
	font-family: 'timesR', Times New Roman
	padding: 1em 0

.btn-bold-under-bgblue
	background-color: $c-blue
	color: $c-white
	font-family: 'avenirB'
	font-size: 14px
	padding: 0.7em 1.11em
	text-decoration: underline
	text-align: center
	position: relative
	display: inline-block
	margin-top: 8px
	+solid-shadow
	&:after
		position: absolute
		content: ""
		border: 1px solid white
		width: 95%
		height: 84%
		top: 3px
		z-index: 1
		left: 3px

.btn-bold-under-bgblack
	background-color: $c-black
	color: $c-white
	font-family: 'avenirB'
	font-size: 14px
	padding: 0.7em 1.11em
	text-decoration: underline
	text-align: center

=social-media-small-bluebg
	position: absolute
	bottom: -15px
	left: 0
	background-color: $c-blue
	color: $c-white
	font-size: 1.33em
	font-family: 'FontAwesome'
	padding: 5px


// social media
.btn-follow
	p, ul
		display: inline-block
	p
		margin-right: 1.77em
	li
		font-family: 'FontAwesome'
		display: inline-block
		margin-right: 1.11em

.btn-black-social-media
	display: inline-block
	a
		color: $c-black
	li
		font-family: 'FontAwesome'
		display: inline-block
		margin-right: 1.11em

.btn-share-txt
	div
		display: inline-block
		padding-right: 4em
	div p
		font-size: 0.778em
		font-family: 'avenirB', sans-serif
	a
		color: $c-black
	ul
		display: inline-block
	li
		font-family: 'FontAwesome'
		display: inline-block
		margin-right: 1.11em

// CTA's
.cta-bluebg
	background-color: $c-blue
	color: $c-white
	display: inline-block
	padding: 1.13em 2em
	b
		font-family: 'avenirB'
		text-decoration: underline


// Breadcrumbs
.breadcrumbs
	ul
		text-align: center
	li
		display: inline-block
		position: relative
	a
		color: $c-black
		font-size: 0.722em
		padding-right: 1.2em
	a:active,
	a.current,
	a:hover
		color: $c-blue
		text-decoration: underline
	a:after
		color: $c-black
		content: '>'
		top: 0.35em
		margin-left: 0.4em
		position: absolute
	li:last-child a
		padding-right: 0
	li:last-child a:after
		content: ''
		margin: 0

// Links
.back-to
	display: block
	font-family: 'avenirB', sans-serif
	font-size: 1.33em
	text-decoration: underline
	position: relative
	margin: 0 auto
	margin-bottom: 1.4em
	color: $c-black
	&:after
		content: '👈'
		position: absolute
		margin: 0 auto
		left: 0
		right: 0
		top: 1.4em
