// general
.info-window
	text-align: left
	font-size: 18px
	.bar
		float: left
		width: 100%
		height: 11px
		padding: 0px 4px
		position: relative
		&:after
			content: '• • •'
			font-size: 10px
			color: $c-white
			position: absolute
			top: 0
	.txt
		color: $c-blue
		padding: 1em 1.11em
		font-size: 0.77em
		float: left
		font-family: 'timesR', Times New Roman
		+bg-white-blue-border
		+solid-shadow
		width: 100%
		white-space: normal
		position: relative
	.txt:after
		border-right: 2px solid white
		border-bottom: 2px solid white
		content: ''
		position: absolute
		width: 100%
		height: 100%
		top: 3px
		left: 3px
	.info
		width: 11.11em
	.info h2
		font-family: "avenirB", sans-serif
		margin-bottom: 0.55em
		font-size: 1em
	.info p
		font-family: 'timesR', Times New Roman
		font-size: 0.77em

// profile card + info window
.profile-card
	display: inline-block
	.image
		float: left
		position: absolute
	.img
		+bg-img
		display: block
		height: 4.4em
		width: 4.4em
	.cta
		display: inline-block
	.info-window
		position: relative
		float: left
	.info
		margin-left: 4.4em
	.txt p
		+line-clamp-x2
	@media (max-width: $phone_b)
		max-width: 11.11em
		.img
			height: 8em
			width: 100%
		.info-window
			left: 0
			top: 0
			width: 100%
		.cta
			width: 100%
			margin-top: 1em
		.info
			margin-left: 0
		.image
			position: relative
			width: 100%


// project card + info window
.project-card
	display: inline-block
	position: relative
	margin-right: 2em
	vertical-align: top
	.image
		bottom: 19px
		float: left
		+generic-shadow
		position: absolute
	.img
		+bg-img
		width: 15.5em
		height: 8.8em
	.cta
		+generic-shadow
		display: inline-block
		position: relative
		bottom: 19px
	.info-window
		float: left
		bottom: 0
		position: relative
		top: 2em
	.info
		display: inline-block
		margin-left: -0.3em
		z-index: 2
		position: relative
	.info ul
		display: inline-block
	.info li
		float: left
		position: relative
		margin-right: 2em
	.info li:after
		content: '+'
		color: $c-blue
		margin: 0 0.6em
		position: absolute
		top: 30%
	.info li:last-child
		margin-right: 0
	.info li:last-child:after
		content: ''
	.info li img
		max-height: 3.3em
	@media (max-width: $phone_b)
		max-width: 11.11em
		margin-right: 0
		.image, .cta
			bottom: 0
		.image
			position: inherit
		.image,
		.img,
		.info-window,
		.info
			width: 100%
			max-width: 100%
		.info
			margin-top: 1em
			margin-left: 0
		.info-window
			top: 0
		.cta
			+generic-shadow
			width: 100%


// video card + info window
.video-card
	display: inline-block
	position: relative
	margin-left: 2em
	.image
		display: block
	.img
		+bg-img
		width: 21.1em
		height: 12.2em
		max-width: 100%
	.cta
		float: right
	.info-window
		display: block
		position: absolute
		bottom: -4em
		left: -1.9em
	.host
		+bg-img
		float: left
		height: 4.4em
		width: 4.4em


// single video card
.single-video-card
	display: inline-block
	min-width: 14.11em
	vertical-align: top
	+one-fourth-px-issue
	.img
		+bg-img
		height: 8.33em
		position: relative
	.tag
		padding: 0.55em
		background: $c-black
		color: $c-white
		font-family: "avenirB", sans-serif
		font-size: 0.77em
		position: absolute
		bottom: 0.55em
		right: 0.55em
	.blue-mask
		border: 0.55em solid $c-blue
	.blue-mask p
		color: $c-white
		font-family: "avenirB", sans-serif
		text-align: center
		position: absolute
		top: 45%
		width: 100%
	.txt p
		font-size: 0.778em
		line-height: 1.5em
		color: $c-black
	.txt strong,
	.txt b
		font-family: "avenirB", sans-serif
		margin: 1.2em 0
		display: block
	.txt strong > span
		color: $c-blue
	.txt h5
		margin: 1.2em 0
	.txt h5 strong
		font-family: "avenirB", sans-serif
		display: inline-block
		margin: 0
		color: $c-black
	@media (max-width: $med_b)
		min-width: auto
	@media (max-width: $tablet_b)
		width: 49%
		vertical-align: top
		padding-bottom: 1.1em
	@media (max-width: $phone_b)
		width: 100%
		.img
			height: 11em

// post card + info window
.post-card
	display: inline-block
	position: relative
	margin-left: 2em
	.image
		display: block
	.img
		+bg-img
		width: 21.1em
		height: 12.2em
		max-width: 100%
	.cta
		+generic-shadow
		float: right
	.info-window
		display: block
		margin-top: -19px
		position: absolute
		top: 0
		right: -4em
	.host
		+bg-img
		float: left
		height: 4.4em
		width: 4.4em


// source card
.source-card
	display: inline-block
	position: relative
	margin-right: 2em
	vertical-align: top
	.image
		bottom: 19px
		float: left
		+generic-shadow
		position: absolute
	.img
		+bg-img
		width: 15.5em
		height: 8.8em
		max-width: 100%
	.cta
		+generic-shadow
		display: inline-block
		position: relative
		bottom: 19px
	.info-window
		bottom: 0
		position: relative
		top: 2em
	.info
		display: inline-block
		margin-left: -0.3em
		max-width: 12.22em
		z-index: 2
		top: 1.4em
		position: relative
	@media (max-width: $phone_b)
		max-width: 11.11em
		margin-right: 0
		.image, .cta
			bottom: 0
		.image
			position: inherit
		.image, .img, .info-window, .info
			width: 100%
			max-width: 100%
		.info
			margin-top: 1em
			margin-left: 0
			top: 0
		.info-window
			top: 0
		.cta
			+generic-shadow
			width: 100%


// newsletter box
.newsletter-box
	max-width: 22.22em
	display: inline-block
	input[type="text"]
		float: left
		border: 5px solid $c-black
		background: $c-white
		display: inline-block
		font-family: 'timesR', Times New Roman
		margin-right: 1.11em
		padding: 1.1em 1.2em
		width: 100%
		@include input-placeholder
			color: $c-black
	input[type="submit"]
		background: $c-blue
		color: $c-white
		display: inline-block
		text-decoration: underline
		padding: 0.7em 1.5em
		margin-top: 10px

// newsletter box v2
.newsletter-box2
	max-width: 22.22em
	display: inline-block
	.cta
		float: left
	input[type="text"]
		+generic-shadow
		border: 5px solid $c-blue
		background: $c-white
		display: inline-block
		font-family: 'timesR', Times New Roman
		margin-right: 1.11em
		padding: 1.1em 1.2em
		width: 100%
		@include input-placeholder
			color: $c-black
			opacity: 0.4
	input[type="submit"]
		+generic-shadow
		font-size: 0.72em
		text-decoration: underline
		background: $c-blue
		color: $c-white
		box-shadow: 4px 4px 0px 0px $c-blue
		padding: 0.7em 1.5em
		border: 2px solid $c-white
		float: left
		margin-top: 1.2em
		position: relative
	input[type="submit"]:active
		box-shadow: 2px 2px 0px 0px $c-blue
		left: 2px
		top: 2px
		position: relative
	.bar
		float: left
		width: 100%
		height: 11px
		padding: 0px 4px
		margin-bottom: 5px
		position: relative
		&:after
			content: '• • •'
			font-size: 10px
			color: $c-white
			position: absolute
			top: 0



// instagram box
.instagram-box
	display: inline-block
	position: relative
	.image img
		max-width: 11.1em
	.icon
		+social-media-small-bluebg
		bottom: -10px


// medium box
.medium-box
	display: inline-block
	position: relative
	max-width: 12.22em
	a
		display: inline-block
	.txt
		padding-bottom: 1.11em
	.icon
		+social-media-small-bluebg


// twitter box
.twitter-box
	display: inline-block
	position: relative
	max-width: 430px
	a
		display: inline-block
	.txt
		padding-bottom: 1.11em
	.icon
		+social-media-small-bluebg
	.info-window
		position: relative
	.image
		position: absolute
		bottom: 40%
	.image img
		max-width: 17.22em


// buy tickets cards x4
.blue-card
	display: inline-block
	max-width: 14.44em
	.txt
		padding-bottom: 2.11em
	.cta
		+generic-shadow
		float: left
		margin-top: -1.3em
	h2
		font-size: 1.71em
		font-family: "avenirR", sans-serif
		margin-bottom: 0.2em
	p
		font-size: 1.4em

.white-x2-stroke-card
	display: inline-block
	max-width: 14.44em
	.info-window
		max-width: 22.2em
	.txt
		padding-bottom: 2.11em
		position: relative
		box-shadow: none
		border: 3px solid $c-blue
		&:after
			content: " "
			position: absolute
			z-index: -1
			top: 4px
			left: 4px
			right: -9px
			bottom: -9px
			border-right: 3px solid $c-blue
			border-bottom: 3px solid $c-blue
	.cta
		background: $c-white
		color: $c-blue
		float: left
		margin-top: 1.2em
		position: relative
		&:after
			content: " "
			position: absolute
			z-index: 0
			top: 0
			left: 0
			right: 0
			bottom: 0
			border: 4px solid $c-blue
	h2
		font-size: 1.71em
		font-family: "avenirR", sans-serif
		margin-bottom: 0.2em
	p
		font-size: 1.4em

.blue-x2-stroke-card
	display: inline-block
	max-width: 14.44em
	.info-window
		max-width: 22.2em
	.txt
		padding-bottom: 2.11em
		box-shadow: none
		border: 3px solid $c-blue
	.cta
		box-shadow: 2px 2px 0px 0px rgba(1, 1, 255, 1)
		float: left
		margin-top: 1em
		position: relative
		&:after
			content: " "
			position: absolute
			z-index: 0
			top: 4px
			left: 4px
			right: 4px
			bottom: 4px
			border: 1px solid $c-white
	h2
		font-size: 1.71em
		font-family: "avenirR", sans-serif
		margin-bottom: 0.2em
	p
		font-size: 1.4em

.yellow-card
	display: inline-block
	max-width: 14.44em
	.info-window .txt
		background-color: $c-yellow
		color: $c-black
		border: 1px solid $c-black
		padding-bottom: 2.11em
	.info-window
		max-width: 22.2em
	.cta
		+generic-shadow
		float: left
		margin-top: -1.3em
	h2
		font-size: 1.71em
		font-family: "avenirR", sans-serif
		margin-bottom: 0.2em
	p
		font-size: 1.4em

// menu cards

.menu-card
	color: $c-white
	.img
		+bg-img
		+generic-shadow
		margin-bottom: 1.11em
		padding-bottom: 50%
		width: 100%
		max-width: 14.44em
	.info h3
		font-size: 1em
		text-decoration: underline
		font-family: 'timesR', Times New Roman
	.info strong
		font-family: "avenirB", sans-serif
		font-size: 0.778em


//I'VE JUST GOT AN IDEA!! LET'S BUILD A THIRD STYLE
.project-card2
	margin-bottom: -200px
	display: inline-block
	position: relative
	.image
		display: inline-block
	.info-window
		width: 14.44em
		text-align: left
		font-size: 18px
		position: relative
		left: 55%
		bottom: 50px
	.cta
		margin-top: 10px
		float: left

.project-card2-left
	display: inline-block
	position: relative
	.image
		display: inline-block
	.info-window
		width: 14.44em
		text-align: left
		font-size: 18px
		position: relative
		left: -15%
		bottom: 50px
	.btn-bold-under-bgblue
		float: left

.video-card2
	.video-card .host
		display: inline-block
		width: 4.4em
		height: 4.4em
	.info-window
		display: block
		position: absolute
		bottom: -6em
		left: -2em
	.info-window .info
		display: inline-block
		margin-left: -5px

.profile-card2
	.image
		position: relative
	.info
		margin-left: 0
	.info-window .txt
		box-shadow: none
	.cta
		left: -80px
		margin-top: 4px
		float: left
	.info-window .txt:after
		border-right: none
		border-bottom: none


.twitter-box2
	.info-window .txt
		padding: 0.7em
		box-shadow: 5px 5px 0px 0px black
		word-break: break-word
		font-size: 28px
		color: $c-black
		font-family: 'timesB', Times New Roman
	a
		color: $c-blue
	.image
		bottom: 60%
		right: 40%
		left: inherit
	.icon
		left: -15px

.instagram-box2
	.icon
		left: -15px

.blue-card2
	.bg-blue
		margin-bottom: 5px
	.txt
		box-shadow: none
		border: 3px solid $c-blue
	.txt:after
		border-right: 3px solid $c-blue
		border-bottom: 3px solid $c-blue
		width: 101%
		height: 105%
		top: 2px
		left: 6px
	.cta
		+solid-shadow
		margin-top: 1.1em

#childElements li
	padding: 0 50px


// This is definitely the last round

// TICKET CARD
.ticket-card
	position: relative
	margin-left: 7.89em
	.txt
		display: inline-block
		+sharp-shadow
		border: 1px solid $c-black
		background: $c-white
		padding: 1.66em
		max-width: 16.67em
	.txt h4
		color: $c-blue
		margin-bottom: 1.2em
	.txt p
		color: $c-black
		font-size: 1.22em
		font-family: 'timesR', Times New Roman
		margin-bottom: 1.2em
	.txt strong,
	.txt b
		display: block
		font-family: 'timesB', Times New Roman
		margin-bottom: 0.7em
	.cta
		color: $c-white
		display: inline-block
		+border-radius(100%)
		width: 8.89em
		height: 8.89em
		background: $c-black
		text-align: center
		text-decoration: underline
		bottom: 1.6em
		position: absolute
		left: -7.89em
	.cta:hover
		background: $c-yellow
	.cta p
		position: relative
		top: 40%
	.cta p:after
		content: "🎫"
		top: 0.7em
		text-align: center
		font-size: 2em
		text-decoration: none
		position: absolute
		left: 0
		right: 0
		margin: 0 auto



// NEWSLETTER CARD
.newsletter-card
	max-width: 22.22em
	position: relative
	.cta
		float: left
	input[type="text"],
	input[type="email"]
		+sharp-shadow
		border: 1px solid $c-black
		background: $c-white
		color: $c-blue
		display: inline-block
		font-family: 'timesB', Times New Roman
		padding: 1.4em 1.2em
		width: 100%
		@include input-placeholder
			color: $c-blue
	button.blue-cta
		margin-top: -1.1em
	.button
		height: 40px
		margin-top: -1em
		position: relative
		display: inline-block
	.rtl-wrap
		pointer-events: none
		position: absolute
		overflow: hidden
		height: 100%
		width: 100%
	.rtl-loop
		white-space: nowrap
		overflow: hidden
		background: red
	.rtl-txt
		font-family: "timesB", Times New Roman
		color: $c-blue
		display: inline
		width: auto
		position: absolute
		z-index: 6
		white-space: nowrap
		top: 1.3em
		&:after
			content: 'E-mail goes Adress here, subscribe to our weekly feed of randomness'
			position: relative
			right: 0
			margin-left: 140px
	@media (max-width: $tablet_b)
		margin-top: 1.4em
		margin-bottom: 1.4em
