/* ELEMENTS */

.flipped-txt
	+transform(rotate(-90deg))
	font-family: "avenirB", sans-serif
	color: $c-blue
	font-size: 2em
	top: 45%
	left: -9em
	position: absolute


// Include Blocks
.random-stuff-block
	margin: 5.56em 0
	width: 100%
	float: left
	p
		font-size: 1.33em
		font-family: "avenirB", sans-serif
		text-align: center
		margin-bottom: 2.66em
	.wrap
		text-align: center


.contact-block
	background-repeat: repeat
	padding: 2.77em 0
	float: left
	width: 100%
	.wrap
		text-align: center
	.img
		display: inline-block
		max-width: 25.5em
		margin-right: 1.66em
		width: 100%
	figure
		position: relative
		width: 100%
	figure img
		width: 100%
	figcaption
		color: $c-white
		font-family: 'timesB', Times New Roman
		font-size: 2.66em
		+center-absolute
		top: 40%
	.form
		max-width: 23.33em
		display: inline-block
		vertical-align: top
	.form .info
		background: $c-blue
		text-align: left
		padding: 1.33em
		color: $c-white
		margin-bottom: 0.556em
	.form h3
		font-family: "avenirB", sans-serif
		font-size: 1.33em
	form input
		border: 2px solid $c-blue
		background: $c-white
		padding: 1.1em 1.2em
	form input:nth-child(-n+2)
		width: 49%
		display: inline-block
		font-family: 'timesR', Times New Roman
		margin-bottom: 0.556em
	form input:nth-child(3)
		width: 100%
		font-family: 'timesR', Times New Roman
		display: inline-block
	form input[type="submit"]
		font-size: 0.72em
		+generic-shadow
		text-decoration: underline
		background: $c-blue
		color: $c-white
		box-shadow: 4px 4px 0px 0px $c-blue
		padding: 0.7em 1.5em
		border: 2px solid $c-white
		float: left
		margin-top: 1.2em
		position: relative


// Huge Slider
.featured-content
	+bg-img
	height: 90vh
	position: relative
	float: left
	width: 100%
	.description
		max-width: 26.11em
		left: 10%
		+pt-100
		position: absolute
		top: 2%
		white-space: normal
		font-family: 'avenirB', sans-serif
		z-index: 2
	.description .txt,
	.description .txt p
		margin-bottom: 2em
	.description .ticket-card
		margin-top: 5em
	.description h2
		margin-bottom: 1em
	.center-button
		width: 100%
		display: block
		position: relative
		bottom: 6em
		z-index: 2
	.center-button .blue-cta
		display: block
		margin: 0 auto
		width: 9em
	@media (max-width: $large_b)
		.description
			max-width: 36.11em
			top: 0
			padding-top: 4.11em
		.description .ticket-card
			margin-top: 0
			margin-left: 9.89em
		.center-button
			bottom: 5em
	@media (max-width: $tablet_b)
		+padding-wrap
		display: block
		float: left
		margin-left: 0
		width: 100%
		.description
			top: 4em
			left: 5%
			right: 5%
		.description .ticket-card
			display: none
	@media (max-width: $phone_b)
		padding-bottom: 3em
		height: auto
		.description
			top: 0
			padding-top: 2em
			position: relative
		.center-button
			bottom: 0
			left: 5%
		.center-button .blue-cta
			margin: inherit
			width: auto



// HUGE  SLIDER: Masks
.huge-slider.blue-mask:after
	content: ""
	height: 100%
	left: -1px
	top: 0
	position: absolute
	width: 60%
	z-index: 1
	+slider-blue-gradient
	@media (max-width: $tablet_b)
		width: 80%
	@media (max-width: $phone_b)
		display: none
.huge-slider.gray-mask:before
	content: ""
	height: 100%
	left: -1px
	top: 0
	position: absolute
	width: 60%
	z-index: 1
	+slider-gray-gradient
	@media (max-width: $tablet_b)
		width: 80%
	@media (max-width: $phone_b)
		display: none
.huge-slider.white-mask:before
	content: ""
	height: 100%
	left: -1px
	top: 0
	position: absolute
	width: 60%
	z-index: 1
	+slider-white-gradient
	@media (max-width: $tablet_b)
		width: 80%
	@media (max-width: $phone_b)
		display: none



// HUGE SLIDER SETUP
.huge-slider
	width: 75%
	height: 90vh
	margin: 0 auto
	position: relative
	li
		padding: 4.4em 0
		height: 85vh
	li > div
		+bg-img
		width: 100%
		height: 100%
	.slick-dots
		+center-absolute
		bottom: 11em
		height: 0
		text-align: center
		z-index: 3
	.slick-dots li
		height: 20px
		width: 20px
		display: inline-block
		margin-right: 10px
		padding: 10px
	.slick-dots li.slick-active button
		background: $c-blue
	.slick-dots li button
		background: $c-black
		color: rgba(0,0,0,0)
		height: 20px
		width: 20px
		font-size: 0
		+border-radius(20px)
	@media (max-width: $large_b)
		li
			padding: 3.4em 0
	@media (max-width: $tablet_b)
		width: 100%
	@media (max-width: $phone_b)
		height: 20em
		li
			height: 20em
			padding-bottom: 0
		.slick-dots
			opacity: 0



// GALLERY SLIDER BLOCK
.gallery-block
	+ptb-100
	background: $c-gray-light
	float: left
	width: 100%
	a
		color: $c-blue
		font-size: 14px
	a.blue-link
		text-decoration: underline
	b, strong
		font-family: "avenirB", sans-serif
	p
		font-size: 14px
		padding-top: 1.3em
	.gallery-slider
		height: auto
		float: left
		position: relative
		width: 100%
		margin-bottom: 3.3em
	.gallery-slider li
		padding-right: 20px
		height: 100%
	.gallery-slider img
		max-height: 30em
	@media (max-width: $tablet_b)
		.gallery-slider img
			max-height: inherit
			width: 100%



// HERO BLOCK
.hero-block
	+bg-img
	width: 100%
	position: relative
	strong, b
		font-family: "avenirB", sans-serif
	h1
		font-size: 11.11em
		font-family: "avenirB", sans-serif
	h4
		margin-top: 1em
		color: $c-white
	.title
		+ptb-100
	@media (max-width: $tablet_b)
		h1
			font-size: 2em
	@media (max-width: $phone_b)
		h1
			font-size: 1.55em



// HERO BLOCK W/CTA
.hero-cta-block
	+bg-img
	float: left
	height: auto
	position: relative
	width: 100%
	margin-bottom: 2em
	a
		color: $c-black
	b, strong
		font-family: "avenirB", sans-serif
	figure
		margin: 0 auto
		max-width: 30.5em
	figure img
		width: 100%
	figcaption p
		margin-bottom: 1.1em
	h1
		color: $c-blue
		text-decoration: underline
		font-family: "avenirB", sans-serif
		margin-bottom: 0.7em
	h4
		font-family: "avenirB", sans-serif
		margin-bottom: 1em
	.title
		bottom: -4em
		max-width: 33.3em
		margin: 0 auto
		text-align: center
		position: relative
		padding-top: 6em
	@media (max-width: $tablet_b)
		margin-bottom: 3em
		.title
			bottom: -2em
			padding-top: 2em



// HERO HALF IMAGE BLOCK
.hero-half-block
	margin-bottom: 7.7em
	position: relative
	float: left
	width: 100%
	> div
		background: $c-gray-light
		float: left
		width: 100%
	.img
		+bg-img
		float: left
		padding-bottom: 30%
		width: 60%
	.title
		bottom: -8em
		max-width: 33.3em
		right: 25%
		position: absolute
	.caption
		background: none
		+padding-left
		margin-top: 1.33em
		max-width: 40em
		font-size: 14px
		line-height: 1.6em
		font-family: "timesR", Times New Roman
	.caption strong
		display: block
		font-family: "avenirB", sans-serif
	a, .iam
		color: $c-blue
	h1
		font-size: 11.11em
		font-family: "avenirB", sans-serif
	h1 .iam
		display: block
	@media (max-width: $large_b)
		h1
			font-size: 8em
		.title
			right: 10%
			bottom: -5em
	@media (max-width: $tablet_b)
		margin-bottom: 0
		h1
			font-size: 3em
		.img
			width: 50%
			padding-bottom: 50%
		.title
			bottom: 7em
			max-width: 33.3em
			right: 20%
	@media (max-width: $phone_b)
		> div
			background: none
		.img
			width: 100%
		.title
			padding-left: 5%
			display: inline-block
			margin-top: 1.1em
			bottom: 0
			position: relative
			right: 0
			max-width: 100%
		h1 .iam
			display: inline-block

// BIG DESCRIPTION
.description-block
	+ptb-100
	float: left
	width: 80%
	b, strong
		font-family: "avenirB", sans-serif
	@media (max-width: $tablet_b)
		width: 100%



// SMALL DESCRIPTION FOR BLOCKS
.small-description
	+padding-wrap
	float: left
	margin-bottom: 1.1em
	width: 100%
	b, strong
		font-family: "avenirB", sans-serif
	h3
		font-family: "avenirB", sans-serif
		font-size: 2.3em
		color: $c-blue
	p
		font-size: 14px
		padding-top: 1.3em
		max-width: 35em



// BIG HALF SHORTCUTS
.halfs-shortcuts
	+pt-100
	+two_col
	width: 100%
	> div
		padding-right: 2em
		padding-bottom: 3.3em
	h4
		font-family: "avenirB", sans-serif
		margin-bottom: 1.22em
	h3
		color: $c-blue
		font-family: "avenirB", sans-serif
		font-size: 1.556em
		margin-bottom: 0.7em
	p span
		font-family: "avenirR", sans-serif
		font-size: 14px
	p
		font-family: 'timesB', Times New Roman
		font-size: 1.22em
		margin-bottom: 1em
	.img
		+bg-img
		width: 100%
		padding-bottom: 50%
		margin-bottom: 1.5em
	.txt
		max-width: 14.44em
	@media (max-width: $phone_b)
		> div
			padding-right: 0



// PARTNERS BLOCK (THE LOGOS BLOCK)
.partners-block
	+ptb-100
	float: left
	width: 100%
	h3
		color: $c-blue
		text-align: center
		margin-bottom: 3em
	ul
		max-width: 55em
		margin: 0 auto
	li
		+one-fourth-px-issue
		text-align: center
		vertical-align: middle
	li a
		display: inline-block
		max-width: 8em
		padding-bottom: 3em
	li img
		width: 100%



// MORE EPISODES
.more-episodes-block
	+ptb-100
	float: left
	width: 100%

.more-episodes
	padding: 3.3em 0
	float: left
	> p
		font-family: 'avenirB', sans-serif
		margin-bottom: 1.66em
	li
		padding-right: 1.66em
	@media (max-width: $phone_b)
		li
			padding-right: 0
